:root {
  --theme-color: #1771c2;
  --faded-theme-color: rgba(23, 113, 194, 0.3);
  --gray: light-dark(#bababa, #4c4c4c);
  --padding: 10px;
  --radius: 20px;
  --content-color: light-dark(black, white);
  --sidebar-width: 250px;

  color-scheme: light dark;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: light-dark(white, #242424);
  margin: 0;
  color: var(--content-color);
  overflow: hidden;
}

#App {
  height: 100vh;
  width: 100vw;
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  flex: 1 1 auto;
  gap: 10px;
  min-width: 0;
  height: 100%;
}

.fc {
    height: 100%;
}

.button {
    cursor: pointer;
}

.button:disabled:hover {
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}