:root {
  --theme-color: #1771c2;
  --gray: light-dark(#bababa, #4c4c4c);
  --header-height: 60px;
  --padding: 10px;
  --radius: 20px;
  --content-color: light-dark(black, white);

  color-scheme: light dark;
}

body, html {
  font-family: Arial, sans-serif;
  background-color: light-dark(white, #242424);
  margin: 0;
  /* overflow: hidden; */
}

@font-face {
  font-family: 'Futura Std';
  src: url('./assets/futura/FuturaStd-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./assets/futura/FuturaStd-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./assets/futura/FuturaStd-CondensedBold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

#App {
  height: 100vh;
  width: 100vw;
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}

.fc-toolbar {
  --fc-border-color: transparent;
  --fc-today-bg-color: transparent;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: var(--theme-color);
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: var(--gray);
}

.fc-daygrid-day-number {
  color: var(--content-color);
}

.fc-col-header-cell-cushion {
  color: var(--content-color);
  font-weight: bold;
}

.fc-button {
  --fc-button-active-bg-color: light-dark(#AAAAAA, black);
}