#Calendar {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    
    --fc-border-color: var(--gray);
    --fc-today-bg-color: rgba(23, 113, 194, 0.3);
    --fc-page-bg-color: transparent;
}

#Calendar .fc-button {
    border-radius: var(--radius);
    color: var(--content-color);
}

#Calendar .fc-icon {
    width: 1.5em;
}

#Calendar .fc-timegrid-slot-minor {
    border-top: 1px transparent solid;
}

#Calendar .fc-toolbar {
    padding: 5px; 
    padding-bottom: 0px;
}

#Calendar .fc-scrollgrid {
    background-color: light-dark(#f3f3f3, black);
}

#Calendar .fc-daygrid-day-number:hover {
    color: inherit;
}

#Calendar .fc-timegrid-event {
    font-weight: normal;
    --fc-event-border-color: none;
}

#Calendar .fc-daygrid-event:hover {
    background-color: var(--gray);
    color: inherit;
}

/* this is one of those cases of 'if it 
works don't touch it'. Don't know why this 
needs to be here but it does. */
#Calendar .fc {
    height: 100%;
}

#Calendar .fc-daygrid-event {
    color: var(--content-color);
}

/* #Calendar .fc-h-event {
    color: var(--content-color);
} */

#Calendar .fc table {
    border-top-left-radius: var(--radius);
}