:root {
    --sidebar-header-font-weight: bold; 
    --sidebar-header-font-stretch: condensed;
    --sidebar-header-font-size: 1.5em;
    --sidebar-width: 250px;
}

#Sidebar {
    width: var(--sidebar-width);
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#Sidebar-Options {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.add-stream-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 30px; 
    background: transparent;
    border: none;
}

.add-icon {
    height: 20px; 
    width: 20px; 
}

@media (prefers-color-scheme: dark) {
    .add-icon {
        filter: invert(1);
    }
}
.add-stream-button:hover {
    background-color: var(--theme-color);
    border-radius: var(--radius);
}

#Logo {
    height: var(--header-height);
    width: auto;
    object-fit: contain;
    margin-left: 0;
    align-self: flex-start;
}

@media (prefers-color-scheme: light) {
    #Logo {
        filter: invert(1);
    }
}

#MiniCalendar {
  --fc-border-color: transparent;
  --fc-today-bg-color: transparent;
  --fc-button-text-color: var(--content-color);
}

#MiniCalendar .fc-daygrid-day-frame,
#MiniCalendar .fc-daygrid-day-number,
#MiniCalendar .fc-col-header-cell-cushion,
#MiniCalendar .fc-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#MiniCalendar .fc-daygrid-day {
    border: none;
}

#MiniCalendar .fc-daygrid-day-number {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

#MiniCalendar .fc-daygrid-day-number:hover {
    background-color: var(--theme-color);
    color: light-dark(white, black);
}

#MiniCalendar .fc-col-header-cell-cushion {
    /* border-radius: 50%; */
    /* border-bottom: 1px solid var(--theme-color); */
    width: 2em;
    height: 2em;
    font-weight: normal;
    font-stretch: condensed;
}

#MiniCalendar .fc-button {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

#MiniCalendar .fc-header-toolbar {
    padding-top: 20px;
    padding-right: 5px;
}

#MiniCalendar .fc-toolbar-title {
    font-weight: var(--sidebar-header-font-weight); 
    font-stretch: var(--sidebar-header-font-stretch);
    font-size: var(--sidebar-header-font-size);
}

.sidebar-header {
    font-weight: var(--sidebar-header-font-weight); 
    font-stretch: var(--sidebar-header-font-stretch);
    font-size: var(--sidebar-header-font-size);
}