:root {
    --list-element-height: 20px;
}

.stream-list-container {
    flex-grow: 1;
    overflow-y: auto;
}

.stream-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 100%;
}

.stream-list-item {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stream-list-checkbox {
    height: var(--list-element-height); 
    width: var(--list-element-height);
    margin-right: 10px;
}

.stream-list-options-button {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: transparent;
    border: none;
    height: calc(var(--list-element-height) * 1.5);
    width: calc(var(--list-element-height) * 1.5);
}

.stream-list-options-button:hover {
    background-color: var(--theme-color);
    border-radius: var(--radius);
}

.stream-list-options-icon {
    height: calc(var(--list-element-height) * 0.8);
}

@media (prefers-color-scheme: dark) {
    .stream-list-options-icon {
        filter: invert(1);
    }
}