/* #createOptions {
    z-index: 100;
    position: absolute;
    top: 150px;
    background-color: var(--gray);
    width: calc(var(--sidebar-width) - 40px);
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: var(--stream-options-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}

.createButton {
  height: 30px; 
  width: 100%;
  background: none;
  border: none;
  font-weight: bold;
}

.createButton:hover {
  background-color: light-dark(#4c4c4c50, #bababa50);
}

#eventButton {
  margin-bottom: 5px;
  padding-bottom: 5px;
} */

.create-options-popup {
top: 3rem;
}