.navbar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.sidebar-nav {
  height: 100%;
}

.calendar-nav {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.logo {
  height: 100%;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.navbar-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.next {
    transform: rotate(180deg);
}