.cancel-button {
    height: 100%;
}

.submit-button {
  cursor: pointer;
}

.recurring-day-select-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recurring-day-select {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}