.date-picker {
  --fc-border-color: transparent;
  --fc-today-bg-color: transparent;
  --fc-button-text-color: var(--content-color);
  padding-top: 1.2rem;
}

.date-picker .fc-scrollgrid {
  overflow: hidden;
}

.date-picker .fc-daygrid-day-events {
  width: 0;
}

.date-picker .fc-daygrid-day-frame,
.date-picker .fc-daygrid-day-number,
.date-picker .fc-col-header-cell-cushion,
.date-picker .fc-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker .fc-daygrid-day-frame {
  height: 1rem;
}

.date-picker .fc-daygrid-day-number {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}

.date-picker .fc-daygrid-day-number:hover, 
.date-picker .fc-day-today .fc-daygrid-day-number:hover {
    background-color: var(--theme-color);
}

.date-picker .fc-day-today .fc-daygrid-day-number {
    background-color: var(--faded-theme-color);
}

.date-picker .fc-col-header-cell-cushion {
  font-weight: normal;
  font-stretch: condensed;
}

.date-picker .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.date-picker .fc .fc-toolbar-title {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

.date-picker .fc-header-toolbar {
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: var(--theme-color);
  --fc-button-hover-border-color: transparent;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem;
}